<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoldenCarrot"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.SignUpActivity" />
        <activity android:name=".views.SelectUserTypeActivity" />
        <activity android:name=".views.AdminHomeActivity" />
        <activity android:name=".views.AdminAllProfilesView"/>
        <activity android:name=".views.OrganizerCreateEvent" />
        <activity android:name=".views.EntrantHomeView" />
        <activity android:name=".views.OrganizerHomeView"/>
        <activity android:name=".views.BrowseEventsActivity"/>
        <activity android:name=".views.OrganizerWaitlistView" />
        <activity android:name=".views.EntrantEditUserDetailsView" />
        <activity android:name=".views.OrganizerManageProfileActivity"/>
        <activity android:name=".views.AdminProfileView"/>
        <activity android:name=".views.WaitlistActivity" />
        <activity android:name=".views.EventDetailsAdminActivity" />
        <activity android:name=".views.EntrantEventDetailsActivity" />
        <activity android:name=".views.OrganizerEventDetailsActivity" />
        <activity android:name=".views.OrganizerChosenView"/>
        <activity android:name=".views.EntrantNotificationsActivity"/>
        <activity android:name=".views.QrCodeScannerActivity"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


    </application>

</manifest>